body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #dfeef7;
}

nav {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: large;
  background-color: #0c3a63c9;
}
a {
  color: aliceblue;
  text-decoration: none;
}
form {
  background-color: rgba(115, 233, 178, 0.37);
  margin: 30px;
  padding: 30px;
  border: solid #aacddc62;
  border-collapse: collapse;
  box-shadow: 10px 5px 5px rgba(125, 181, 245, 0.568);
  border-radius: 20px;
}
button {
  padding: 8px;
  font-weight: bolder;
  font-size: medium;
  border-radius: 50px;
  color: #0e0229;
  border: none;
  box-shadow: 2px 2px #1b9203f5;
  background-color: #8af575a2;
  cursor: pointer;
}
button:hover {
  box-shadow: 2px 2px #edf5ecf5;
}
button:active {
  background-color: #dfeef7;
}
